setuptools
torch==1.12.1
torchvision==0.13.1
cython
scipy
xmltodict
tqdm==4.64.1
transformers==4.24.0
onnx
onnxruntime
prettytable
submitit
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
timm